<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="id1" class="com.pragim.SpringDIWithObjectsUsingConstructor.Traveller">
		<constructor-arg index="0" ref="id2"/>
		
	</bean>
	
	<bean id="id2" class="com.pragim.SpringDIWithObjectsUsingConstructor.Car">
	
		<constructor-arg index="0" value="maruthi800"/>
		<constructor-arg index="1" value="blue"/>
	</bean>
	
	<bean id="id3" class="com.pragim.SpringDIWithObjectsUsingConstructor.Bus">
		<constructor-arg index="0" value="ksrtc300"/>
		<constructor-arg index="1" value="red"/>
	</bean>
     
</beans>
